:root{
    --green-nerea: #04706E;
    --light-green-nerea: #E1FFBD;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-John-mayer: 'John Mayer';

    }

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
    
html{
    font-size: 62.5%;
    font-family: var(--font-Montserrat);
    background-color: #FAFAFA;
    color: #4E5150;
}
/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.inactive{
    display: none;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 12px;

}
.checkout-title{
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 21px;
    font-family: var(--font-Montserrat);
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.9rem;
    letter-spacing: 0em;   
}
.main-card-container{
    width: 100%;
    height: auto;
    max-width: 390px;
    padding: 13px 24px;
    background-color: #F2F2F2;
    border-radius: 12px;
}
.product-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.image-container{
    width: 120px;
    height: 120px;
    background-image: url(./assets/recoleta.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 28px;

}
.image-container1{
    width: 120px;
    height: 120px;
    background-image: url(./assets/recoleta2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 88px;
}
/* Body */
.body-container{
    margin-left: 12px;
}
.product-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0em;
}
.price-container{
    display: flex;
    flex-direction: row; 
}
.price-container .price{
    font-size: 0.9;
    font-weight: 600;
    line-height: 17px;
    color: orange;
}
.price-container .discount{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 17px;
    margin-left: 12px;
    text-decoration: line-through;
    
}

/* Items container */
.items-container{
    width: 100px;
    height: 30px;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 1px black;
    border-radius: 8px;
    padding: 4px;
}
.remove-icon{
    font-size: 1.5rem;
    background-color: #E0E0E0;
    color: #828282;
    border-radius: 3px;
}
.amount{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;

}
.add-icon{
    font-size: 1.5rem;
    background-color: #E0E0E0;
    color: #828282;
    border-radius: 3px;
}
/* Total */
.shipping-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    
    
}
.shipping-body , .shipping-price{
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px; 
    
}
.total-body , .total-price{
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px; 
    
}
.total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;

}


/* Formulario */
.form{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
/* Titulos del Form*/
.form-title{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    margin-bottom: 11px;
}
.email-list{
    text-decoration: none;
}
/* Label text */
.list-container{
    width: 100%;
    height: auto;
    max-width: 470px;
    list-style: none;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0em;
}
.list-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Etiquetas titulos */
label{
    margin: 5px 0;
}
/* Icono del label */
.input-icon{
    position: absolute;
    top: 28px;
    left: 11px;
    font-size: 17px;
}
input, select{
    width: 100%;
    height: 30px;
    padding-left: 30px;
    border: 1px solid #828282;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #4E5150;
}
/* Desaparecemos la flecha expand original */
select{
    appearance: none;
}
/* Expand more que creamos a diseño*/
.expand-more{
    position: absolute;
    top: 29px;
    left: 117px;
    font-size: 17px;
    background: #E0E0E0;
    border-radius: 4px;
}
/* Country flexbox LI */
/* No funciona la flecha al seleccionarla, solo si clickea el texto */
.country-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-flex{
    width: 140px;

}
/* Checkbox */
.checkbox-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox{
   flex-direction: column; 
   width: 15px; 
   border: 1px solid #828282;
   border-radius: 4px;
   margin-right: 8px;
}
/* Continue button */
.button-li{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.continue-button{
    width: 166px;
    height: 40px;
    max-width: 140px;
    color: white;
    background: #F2994A;
    border-radius: 12px;
    border: none;
}
/* Footer */
footer{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 24px;
}
.footer-text-container{
    width: 100%;
    max-width: 287px;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-footer);

}
.footer-text-container a{
    color: var(--text-footer);
    font-weight: bold;
    text-decoration: none;
}